@charset "utf-8";
/* ------ Body ------ */
body{font:13px Arial, Helvetica, sans-serif;}
.wrapper{float:left;height:100%;min-width:960px;width:100%;}
.container{float:left;margin:0;padding:0;width:100%;}
.center{margin:0 auto;width:960px;}
.fluid .center{float:left;margin:0;width:100%;}
/* ------ Headings ------ */
h1,h2,h3,h4,h5,h6{clear:both;display:block;line-height:normal;margin:5px 0 0;padding:0;}
h1{font:30px;}
h2{font:24px;}
h3{font:21px;}
h4{font:18px;}
h5{font:16px;}
h6{font:14px;}
/* ------ Links ------ */
a{background-color:transparent;color:#000;}
a:hover{color:#333;}
a[rel="external"], a[target="_blank"], a[href^="mailto:"], a[href$=".pdf"], a[href$=".txt"], a[href$=".doc"], a[href$=".docx"], a[href$=".docm"], a[href$=".dotx"], a[href$=".dotm"], a[href$=".xls"], a[href$=".xlsx"], a[href$=".xlsm"], a[href$=".xltx"], a[href$=".xltm"], a[href$=".xlsb"], a[href$=".xlam"], a[href$=".rss"], a[href$=".rdf"], a[href$=".ppt"], a[href$=".pptx"], a[href$=".pptm"], a[href$=".potx"], a[href$=".potm"], a[href$=".ppam"], a[href$=".ppsx"], a[href$=".sldx"], a[href$=".sldm"], a[href$=".thmx"]{background-repeat:no-repeat;background-position:right center;padding-bottom:2px;padding-top:2px;margin:-2px 0;*display:inline-block;}
a[rel="external"], a[target="_blank"]{background-image: url(../img/icon_newwindow.png);padding-right: 14px;}
a[href^="mailto:"] {background-image: url(../img/icon_email.png);padding-right: 22px;}
a[href$=".txt"] {background-image: url(../img/icon_text.png);padding-right: 20px;}
a[href$=".xls"], a[href$=".xlsx"], a[href$=".xlsm"], a[href$=".xltx"], a[href$=".xltm"], a[href$=".xlsb"], a[href$=".xlam"]{background-image: url(../img/icon_excel.png);padding-right: 22px;}
a[href$=".ppt"], a[href$=".pptx"], a[href$=".pptm"], a[href$=".potx"], a[href$=".potm"], a[href$=".ppam"], a[href$=".ppsx"], a[href$=".sldx"], a[href$=".sldm"], a[href$=".thmx"]{background-image: url(../img/icon_powerpoint.png);padding-right: 22px;}
a[href$=".pdf"]{background-image: url(../img/icon_pdf.png);padding-right: 22px;}
a[href$=".doc"], a[href$=".docx"], a[href$=".docm"], a[href$=".dotx"], a[href$=".dotm"]{background-image: url(../img/icon_word.png);padding-right: 22px;}
a[href$=".rss"], a[href$=".rdf"]{background-image: url(../img/icon_feed.png);padding-right: 22px;}
a[href^="http://yourwebsite.com"]{background:none; padding:0; margin:0;}
.newWindow{display:none;}
/* ------ Notifications ------ */
.noScript{background-color:#000;color:#FFF;clear:both;width:100%;}
.error, .alert, .notice, .success, .info{background-position:6px 6px;background-repeat:no-repeat;border:2px solid #ddd;clear:both;display:block;padding:10px 10px 10px 45px;min-height:22px;margin-bottom:10px;}
.inputType .error, .inputType .alert, .inputType .notice, .inputType .success, .inputType .info{border:1px solid #ddd;clear:both;display:block;line-height:normal;margin:5px 0;min-height:17px;padding:5px 5px 5px 30px;}
.error img, .alert img, .notice img, .success img, .info img{display:inline;margin-right:5px;}
.error, .alert, .inputType .error, .inputType .alert{background-color:#FCEFED;background-image:url(../img/notification_error_32.png);color:#801000;border-color:#FAB9AF;}
.inputType .error, .inputType .alert{background-image:url(../img/notification_error_16.png);}
.error a, .alert a{color: #801000;}
.notice, .inputType .notice{background-color:#FFF9D5;background-image:url(../img/notification_notice_32.png);color:#544516;border-color:#FAC21B;}
.inputType .notice{background-image:url(../img/notification_notice_16.png);}
.notice a{color: #544516;}
.success, .inputType .success{background-color:#EAF3CB;background-image:url(../img/notification_success_32.png);color:#204000;border-color:#BAD36B;}
.inputType .success{background-image:url(../img/notification_success_16.png);}
.success a{color: #204000;}
.info, .inputType .info{background-color:#ECF4FD;background-image:url(../img/notification_information_32.png);color:#00356A;border-color:#75AADF;}
.inputType .info{background-image:url(../img/notification_information_16.png);}
.info a{color: #00356A;}
/* ------ Header ------ */
.header{background-color:#2f315b;color:#000;clear:both;float:left;width:100%;}
.header .container{}
.header .center{}
/* ------ Logo ------ */
.logo{padding:10px;}
/* ------ Header Links ------ */
.headerLinks{color:#999;clear:both;float:left;padding:10px 0;width:100%;}
.headerLinks .skipNav{float:left;padding:0 10px;}
.headerLinks .skipNav a{color:#FFF;}
.headerLinks ul{float:right;list-style:none;margin:0;padding:0;}
.headerLinks ul li{border-left:1px #CCC solid;float:left;font:11px;margin:0;padding:0 10px;}
.headerLinks ul li:first-child{border:none;}
.headerLinks ul li a{color:#CCC;}
.headerLinks ul li a:hover{color:#AAA;}
/* ------ Header Navigation ------ */
.nav{background-color:#232544;color:#FFF;clear:both;float:left;width:100%;}
.nav ul{list-style:none;margin:0;padding:0;}
.nav ul li{background-color:#232544;color:#FFF;float:left;position:relative;}
.nav ul li a{color:#FFF;display:block;font:14px;padding:10px;}
.nav ul li ul{position:absolute;visibility:hidden;z-index:2;}
.nav ul li:hover{background-color:#232544;}
.nav ul li:hover ul{visibility:visible;}
.nav ul li ul li{background-color:#232544;width:150px;}
.nav ul li ul li:hover{background-color:#2f315b;}
.nav ul li ul li a{color:#FFF;font:13px;}
.subNav ul{left:100%;top:0;display:none;}
.subNav:hover ul{display:block;}
.subNav:hover ul li{background-color:#2f315b;}
/* ------ Content ------ */
.content{background-color:#d4d4e1;color:#000;clear:both;float:left;width:100%;}
.content .container{}
.content .center{background-color:#e7e8f7 !important;color:#000;}
.floatLeft{float:left !important;}
.floatRight{float:right!important;}
/* ------ Main Content ------ */
.mainContentWrapper{background-color:#FFF;color:#000;float:right;width:760px;}
.content.full .mainContentWrapper{width:960px;}
.fluid .mainContentWrapper{float:right;width:auto;margin-left:200px;}
.fluid .content.full .mainContentWrapper{margin:0;width:100%;}
.mainContent{line-height:150%;padding:10px;}
.fluid .mainContentWrapper .mainContent{}
.mainContent p{margin:5px 0px 15px;}
/* ------ Breadcrumbs ------ */
.breadcrumbs{background-color:#232544;color:#CCC;float:left;width:100%;}
.breadcrumbs ul{float:left;list-style:none;margin:0;padding:0;}
.breadcrumbs ul li{float:left;padding:5px;}
.breadcrumbs ul li a{color: #EEE;}
.breadcrumbs ul li a:hover{color: #DDD;}
/* ------ Sidebar ------ */
.sidebarWrapper{background-color:#d9d9e8;color:#000;float:left;width:200px;}
.content.full .sidebarWrapper{display:none;}
.fluid .sidebarWrapper{float:left;margin-right:-200px;}
.sidebar{padding:10px;}
/* ------ Move Sidebar to the Right ------ 
.mainContentWrapper,.fluid .mainContentWrapper{float:left;}
.fluid .mainContentWrapper{margin:0 200px 0 0;}
.fluid .sidebarWrapper{margin:0 0 0 -200px;}*/
/* ------ Footer ------ */
.footer{background-color:#232544;color:#FFF;clear:both;float:left;width:100%;}
.footer a{color:#FFF;}
.footer .container{padding:10px 0px;}
.footer .center{}
.fluid #footer .center{width:100%;}
.copyright{text-align:center;}